.statistics {
    text-align: center;
    align: center;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.inner_statistics {
    font-family: Verdana;
    text-align: center;
    align: center;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.clickable_1 {
    cursor: pointer;
    border: 1px solid white;
}

.clickable_2 {
    cursor: pointer;
    border: 1px solid black;
}

.color_1 {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    cursor: default;
}

.color_2 {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    cursor: default;
}

h1 {
    font-family: Verdana;
}

button {
    font-family: Verdana;
    font-size: 1.3em;
    color: white;
    background-image: -webkit-linear-gradient(top, grey, dimgrey);
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    margin: 10px auto 0px auto;
    cursor: pointer;
}

p {
    font-family: Verdana;
    text-align: center;
}

td {
    border: 1px dotted black;
    width: 50px;
    height: 50px;
    cursor: default;
}

table {
    background-color: green;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}